// =======================
// VARIABLES
// =======================
$primary-color: #D81159;
$secondary-color: #218380;
$tertiary-color: #8F2D56;
$accent-color: #a5dff9;
$error-color: #8F2D56;

$black: #000000;
$white: #ffffff;

// Body
$font-stack: 'Open Sans', sans-serif;
